<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head(title='View all')">
    <title>Rates : View all</title>
</head>
<body>
<div class="container">
    <div th:replace="fragments :: navbar"></div>
    <h1>All Rates :: <span th:text="${#calendars.format(rates[0].date, 'dd.MM.yyyy')}"></span></h1>
    <div class="container">
        <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover table-condensed">
            <thead>
            <tr>
                <td>Currency</td>
                <td th:each="rate : ${rates}"><span th:text="${rate.base}">EEK</span></td>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${rates.empty}">
                <td colspan="3">No rate</td>
            </tr>
            <tr th:each="rate,iter : ${rates}">
                <td th:text="${rate.base}">EEK</td>
                <!-- "EUR", "USD", "CHF" -->
            <!-- EUR                     -->
            <!-- USD                     -->
            <!-- CHF                     -->
                <td th:each="curr : ${rates}"><span th:text="${rate.rates.get(curr.base)}">EEK</span></td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>
</body>
</html>